/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-600 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/raleway-v14-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Raleway SemiBold'), local('Raleway-SemiBold'),
       url('../fonts/raleway-v14-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin-600.svg#Raleway') format('svg'); /* Legacy iOS */
}


@font-face {
	font-family: 'texgyreadventorregular';
	src: url('../fonts/texgyreadventor-regular-webfont.eot');
	src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/texgyreadventor-regular-webfont.woff2') format('woff2'),
		 url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
		 url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
		 url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'texgyreadventorregular';
		src: url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
    font-display: swap;
  }
}

@font-face {
	font-family: 'texgyreadventorbold';
	src: url('../fonts/texgyreadventor-bold-webfont.eot');
	src: url('../fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/texgyreadventor-bold-webfont.woff2') format('woff2'),
		 url('../fonts/texgyreadventor-bold-webfont.woff') format('woff'),
		 url('../fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
		 url('../fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
	font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: 'texgyreadventorbold';
		src: url('../fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
    font-display: swap;
  }
}

/*RESPONSIVENESS*/

.div_navbar_menu_open
{
  width: 10em !important;
  flex-direction: column !important;
  min-height: 100%;
  right: 0;
}

.general_menu_open
{
  align-items: unset !important;
  flex-direction: column !important;
  padding: 10px 5px !important;
}

.menu-right-dropdown-responsive
{
  margin-bottom: 1em;
}

.menu_right_open
{
  justify-content: flex-start !important;
  margin-right: 0 !important;
}

.div_center_menu_open
{
  padding-top: 0px !important;
}

.div_center_messageShow
{
  padding-top: calc(60px + 2.3em) !important;
}

.modal_content_mobile
{
  width: 95vw !important;
}

/*STANDARDS*/

body
{
  font-family: "texgyreadventorregular", sans-serif !important;
  font-size: 1em;
  text-align: center;
  margin: 0px auto;
  color: black;
}

h1, h2, h3, h4, h5, h6
{
  font-family: "Raleway", sans-serif !important;
  font-weight: 600;
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

a
{
  font-family: "Raleway", sans-serif !important;
}

p
{
  letter-spacing: 0.5px;
}

footer
{
  display: block;
}

ul
{
  list-style: outside;
}

/*UTILITIES*/

.hidden
{
  display: none !important;
}

.textbold
{
  font-family: "texgyreadventorbold", sans-serif !important;
}

.textbig_1
{
  font-size: 1.25em;
}

.textbig_2
{
  font-size: 1.5em;
}

.textbig_3
{
  font-size: 2em;
}

.text_left
{
  text-align: left !important;
}

.text_center
{
  text-align: center !important;
}

.flexColumn
{
  display: flex;
  flex-direction: column !important;
}

.width50
{
  width: 50vw;
}

.column_width_1e6
{
  width: 15vw !important;
}

.column_width_1e5
{
  width: 20vw !important;
}

.column_width_1e4
{
  width: 25vw !important;
}

.column_width_1e3
{
  width: 33vw !important;
}

.spacer1em
{
  height: 1em;
  width: 100%;
}

.spacer2em
{
  height: 2em;
  width:100%;
}

.spacer3em
{
  height: 3em;
  width:100%;
}

.spacer4em
{
  height: 4em;
  width:100%;
}

.margin0
{
  margin: 0px auto !important;
}

.marginauto
{
  margin:auto;
}

.padding30
{
  padding-top: 30px !important;  
  padding-Bottom: 30px !important;
}

.paddingBottom20
{
  padding-bottom: 20px !important;
}

.fullheight
{
  height: 100%;
}


/*BACKGROUNDS*/

.background
{
  background-image: url(../images/common/background.png);
  background-repeat: repeat;
  background-size: auto;
  z-index: -1;
}

.bikelogohomebig
{
  background-image: url(../images/common/bikelogo2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: relative;
  height: 35vw;
  z-index: 0;
  align-self: normal;
}

/*SPECIFIC STUFF*/

#messageBox
{
  width: 100%;
  padding: 0.4em;
  font-size: 1em;
  background-color: rgba(104, 255, 0, 0.70);
  position: fixed;
  margin-top: 0;
  z-index: 4;
  transition: all 0.3s ease-in-out;
}

.messageBoxAfter
{
  margin-top: 60px !important;
}

.div_page_footer
{
  width: 100%;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(80,80,80);
  color: rgb(200,200,200);
}

#map /*GOOGLE MAPS*/
{
  min-height: 40em;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.tariffa /*TICKETS LOOK*/
{
  text-align: center;
  border-radius: 15px;
  background-color: rgb(255, 120, 0);
}

.tariffa .heading
{
  border-bottom: 1px solid #00000080;
}

.tariffa .price
{
  font-size: 2em;
}

.tariffa .comment
{
  margin: 0 auto;
  padding-bottom: 1em;
}

/*CONTENITORE PRINCIPALE  */
.div_center
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 60px;
  transition: padding 0.3s ease-in-out;
}

.div_internal_row
{
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 20px 0px;
}

.div_internal_column
{
  width: 95vw;
  display: flex;
  flex-direction: column;
  margin: 0px 2vw;
  text-align: left;
}

/*BARRA NAVIGAZIONE FIXED TOP*/
.div_navbar
{
  z-index: 5;
  width: 100%;
  display: flex;
  flex-direction: row;  
  position: fixed;
  background-color: #2f2f2f;
  height: 60px;
  box-shadow: rgba(0,0,0,0.5) 0 0px 15px 0px;
}

/*CLASSE SECONDARIA MENU A DESTRA*/
.menu_right
{
  flex: auto;
  justify-content: flex-end;
  margin-right: 5vw;
}

/*CLASSE BASE MENU*/
.menu_left, .menu_right
{
  display: flex;
  align-items: center;
  flex-direction: row;
}

/*EFFETTI ED ANIMAZIONI TASTI MENU*/
.menu_left a,
.menu_right a,
.menu_left butt,
.menu_right butt
{
  padding: 10px 15px;
  background-color: #000000a8;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  overflow: hidden;
  -webkit-transform: perspective(0px) translateZ(0);
  transform: perspective(0px) translateZ(0);
  box-shadow: inset rgb(236, 85, 38) 0px 0px 0px 0px,rgba(0,0,0,0.5) 0 0px 10px 0px;
  margin: 0px -1px;
  transition: all 0.4s ease-in-out;
}

.menu_left  a:hover,
.menu_right a:hover,
.menu_left  butt:hover,
.menu_right butt:hover,
.menu_left  a:focus,
.menu_right a:focus,
.menu_left  butt:focus,
.menu_right butt:focus,
.menu_left  a:active,
.menu_right a:active,
.menu_left  butt:active,
.menu_right butt:active
{
  box-shadow: inset rgb(236, 85, 38) 0em -5em 1em -1em
}


.specialButton
{
  border-radius: 10px;
  font-size: 2em;
  padding: 10px 15px;
  background-color: rgba(255, 120, 0, 1);
  color: rgb(0, 0, 0);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transition-property: box-shadow;
}

.specialButton:hover, .specialButton:active
{
  /*background-color: rgba(189, 104, 0, 0.9);*/
  box-shadow: rgba(0, 0, 0, 0.60) 0px 0px 15px 5px;
}

/*MODALS, LIGHTBOX*/

.modal_overlay
{
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
}

.modal_container
{
  position: relative;
  padding: 1px 10px;
}

.modal_content
{
  z-index: 15;
  position: relative;
  top: 25%;
  margin: auto;
  background-color: rgba(255, 120, 0, 1);
  padding: 0;
  outline: 0;
  width: 400px;
}

.modal_button_close
{
  font-size: 32px;
  padding: 0px 5px;
  cursor: pointer;
  margin: -15px 0px;
  position: absolute;
  right: 0;
  top: 0;
}

.modal_button:hover,
.modal_button:active,
.modal_button:focus
{
  transform: scale(1.3);
}

.modal_message
{
  width: 100%;
  margin-left: -20px;
  padding: 0 20px;
  margin-bottom: -40px;
  display: none;
  transition: all 0.3s ease-in-out;
  height: 0;
}

.modal_message_open
{
  display: inherit !important;
  margin-bottom: -10px !important;
  height: auto !important;
}

.messageGreen
{
  background-color: rgba(104, 255, 0, 0.70);
}

.messageRed
{
  background-color: rgba(255, 30, 0, 0.7);
}

/*FORMS*/

.form_style
{
  background-color: #ffffff;
  color: #222222;
  padding: 10px 20px;
  text-align: left;
  font-size: 16px;
}

/*FORM LABELS*/
.form_style div
{
  padding-bottom: 5px;
}

/*FORM TASTI*/
.form_style input, 
.form_style textarea,
.form_style select
{
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  resize: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;    /* Firefox 4 */
  -webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.3s ease-in-out;      /* Opera */
  -ms-transition: all 0.3s ease-in-out;     /* Explorer 10 */
}

/*FORM CONTATTO EFFETTO SUBMIT */
.form_style input:hover,  
.form_style textarea:hover,
.form_styleselect:hover,
.form_style input:active,  
.form_style textarea:active,
.form_styleselect:active,
.form_style input:focus,  
.form_style textarea:focus,
.form_styleselect:focus
{
  box-shadow: rgba(0, 0, 0, 0.60) 0px 0px 8px 0px;
}

/*FORM SUBMIT*/
.form_style_submit
{
  font-size: 16px !important;
  padding: 3px;
  width: 25%;
  background-color: #0000009a !important;
  color: white;
  margin: 5px;
  padding: 5px;
  border: 0;
  transition: background 0.3s ease-in-out !important;
  -moz-transition: background 0.3s ease-in-out !important;
  -webkit-transition: background 0.3s ease-in-out !important;
  -o-transition: background 0.3s ease-in-out !important;
  -ms-transition: background 0.3s ease-in-out !important;
}

/*FORM EFFETTO SUBMIT */
.form_style_submit:hover, 
.form_style_submit:active,
.form_style_submit:focus
{
  background-color: #191919d3 !important;
}

/*FORM CONTATTO*/
.contactf_container
{
  color: #333333;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 600px;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.60) 0px 0px 10px 0px;
}

/*FORM CONTATTO LABELS*/
.contactf_label
{
  font-size: 16px;
  color: #2b2b2b;
  padding-bottom: 5px;
}

/*FORM CONTATTO TASTI*/
.contactf_container input, textarea, select
{
  font-size: 14px;
  font-family: "texgyreadventorregular", sans-serif !important;
  color: #2b2b2b;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  resize: none;
}

/*FORM CONTATTO SUBMIT*/
.contactf_container input[type="submit"]
{
  font-size: 16px;
  width: 20%;
  background-color: white;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid black;
}


.contactf_container input,
.contactf_container textarea,
.contactf_container select
{
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;    /* Firefox 4 */
  -webkit-transition: all 0.3s ease-in-out; /* Safari and Chrome */
  -o-transition: all 0.3s ease-in-out;      /* Opera */
  -ms-transition: all 0.3s ease-in-out;     /* Explorer 10 */
}

/*FORM CONTATTO EFFETTO SUBMIT */
.contactf_container input:hover,
.contactf_container textarea:hover,
.contactf_container select:hover,
.contactf_container input:focus,
.contactf_container textarea:focus,
.contactf_container select:focus,
.contactf_container input:active,
.contactf_container textarea:active,
.contactf_container select:active
{
  box-shadow: rgba(0, 0, 0, 0.60) 0px 0px 8px 0px;
}


/*IMAGES*/

#id-menu-right-dropdown
{
  align-self: center;
  background-color: Transparent;
  object-fit: scale-down;
  cursor: pointer;
  max-width: 45px;
  max-height: 100%;
  transition: transform 0.3s ease-in-out;
}

#drop_down_menu_button:hover
{
  transform: scale(1.1);
}

.loader
{
  margin: calc(50vh - 80px) 0;
}

.icon
{
  background-color: Transparent;
  object-fit: scale-down;
  max-height: 50px;
  padding: 0.5em;
}

.logo
{
    background-color: Transparent;
    object-fit: scale-down;
    max-width:100%;
    max-height:100%;
    padding: 5px 10px;
    padding-right: 15px;
}

.full_image
{
  width: 70%;
  height: 100%;
  background-color: Transparent;
}

.big_image
{
  object-fit: scale-down;
  width: 800px;
  height: 460px;
  background-color: Transparent;
  cursor:zoom-in;
}

.small_image
{
  object-fit: scale-down;
  width: 300px;
  height: 170px;
  cursor:zoom-in;
}

/*ANIMAZIONI*/
@keyframes menuFadeIn {
  from
  {
    opacity: 0.0;
    transform: translateX(35%);
  }
  to
  {
    opacity: 1.0;
    transform: translateX(0%);
  }
}

@keyframes menuFadeOut {
  from
  {
    opacity: 0.0;
    transform: translateY(-35%);
  }
  to
  {
    opacity: 1.0;
    transform: translateY(0%);
  }
}

@keyframes fadeIn
{
  from
  {
    opacity: 0.0;
  }
  to
  {
    opacity: 1.0;
  }
}

@keyframes fadeOut
{
  from
  {
    opacity: 1.0;
  }
  to
  {
    opacity: 0.0;
  }
}

.anim_fadeIn
{
  animation: fadeIn ease-in-out 0.3s;
  animation-play-state: running;
}

.anim_fadeOut
{
  animation: fadeOut ease-in-out 0.3s;
  animation-play-state: running;
}

.anim_menuFadeIn
{
  animation: menuFadeIn ease-in-out 0.3s;
  animation-play-state: running;
}

.anim_menuFadeOut
{
  animation: menuFadeOut ease-in-out 0.3s;
  animation-play-state: running;
}
